.roster-card {
  border: grey;
  border-style: solid;
  margin-bottom: 2em;
  padding: 2em;
  margin-right: 4em;
}

h3 {
  font-size: xx-large;
  font-weight: bold;
  text-align: left;
}

.persname {
  font-size: large;
  padding-left: 2em;
}
